.container {
  background-image: url("src/assets/images/daniel-lincoln-XTLISGANyy8-unsplash.jpg");
  height: 100%;
  background-size: cover;
}
.root {
  padding-top: 125px;
  text-align: center;
}
.buttons{
    display: flex;
    margin-top: 82px;
    margin-right: 54px;
    justify-content: center;
    
    button {
      font-size: 18px;
      margin-left: 24px;
      border:2px solid  seashell;

    }
}

button:hover {
    
    transition: 0.2s linear;
    background-color:white;
    color: #121212;
  }
  .mat-primary-text{
    color:#F9C73F;
  }
  #rotate{
    transform: rotate(180deg);
  }
  mat-icon{
    height: 20px;
  }




