/* You can add global styles to this file, and also import other style files */
@import "./utility.scss";
@import "./themes.scss";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@include angular-material-theme($Spark-theme);

html,
body {
  height: 100%;
  background: rgba(18, 18, 18, 1);
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
